@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:0px;
    padding:20px;
    width:100vw;
    height:50px;
    background-color: transparent;
}

.leftHeader {
    display: flex;
    align-items: center;
    justify-content: left;
    width: calc(50vw - 20px);
}

.link {
    text-decoration: none;
    color: rgb(200, 200, 200);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.link:hover {
    color: red;
}
/*
.headerSelect {
    display: inline-block;
    height: 5px;
    width: 100%;
    background-color: red;
    border-radius: 5px;
}
*/
.rightHeader {
    width: calc(50vw - 20px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}
#headerIcon {
    width: 100px;
}

.main {
    background-color: black;
    min-height: 100vh;
}

.searchBar {
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
    color: rgb(200, 200, 200);
    width: 30vw;
    border-radius: 10px;
    padding: 12px;
}


.searchBar:focus {
    outline-width: 0px;
}